body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}
.rowContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.box {
    border: 0.5px solid black;
    /* background: pink; */
    flex: 1;
}

.hovered {
    background: green;
}